<div class="topic_center">
  <div class="shop_content">
    <h1>掲載店</h1>
    <div class="input-group justify-content-center">
    <%= search_form_for @search, url: shops_path do |f| %>
      <%= f.search_field :name_cont , type:"text", class:"topic_form"%>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-warning"><i class="fa fa-search" aria-hidden="true"></i></button>
      </span>
    <% end %>
    </div>

    <div class="row">
      <% @shops.each do |shop| %>
      <div class="col-md-4">
        <div class="article_editing">
          <% if user_signed_in? && current_user.id == 1 %>
            <%= link_to '削除', shop, method: :delete, data: { confirm: '本当に削除してもいいですか？' }, class: "btn btn-danger" %>
            <%= link_to '編集', edit_shop_path(shop), class: "btn btn-warning" %>
          <% end %>
        </div>

        <a href="/shops/<%= shop.id %>">
        <div class="card">
          <div class="card_header">
            <h3><%= shop.name %></h3>
          </div>
          <%= image_tag "#{shop.shop_image}",id:"card_image" %>
        <div class="card-body">
          <div class="row">
              <ul>
                <li><span class="row1"><i class="fas fa-map-marker-alt"></i></span><span class="row2"><%= shop.address %></span></li>
                <li><span class="row1"><i class="fas fa-phone-alt"></i></span><a href="tel:<%= shop.number %>"><span class="row2"><%= shop.number %></span></a></li>
                <li><span class="row1"><i class="fas fa-clock"></i></span><span class="row2"><%= shop.time %></span></li>
                <li><span class="row1"><i class="fas fa-store-alt-slash"></i></span><span class="row2"><%= shop.rest %></span></li>
                <li><span class="row1"><i class="fas fa-sign-out-alt"></i></span><span class="row2"><%= shop.takeout %></span></li>
              </ul>
          </div>
        </div>
      </div>
      </a>
     </div>
     <% end %>
    </div>





  </div>

  <div class="paginate-container">
      <div class="page">
        <%= paginate @shops %>
      </div>
  </div>


</div>
