<div class="topic_center">
  <div class="shop_content">
    <h1>掲載店</h1>
    
    <div class="input-group justify-content-center">
    <%= search_form_for @search, url: shops_path do |f| %>
      <%= f.search_field :name_cont , type:"text", class:"topic_form"%>
      <span class="input-group-btn">
      <%= f.submit "検索" , class:"btn btn-warning" %>
      </span>
    <% end %>
    </div>

    <div class="row">
      <% @shops.each do |shop| %>
      <div class="col-md-4">
        <a href="/shops/<%= shop.id %>">
        <div class="card">
          <h3><%= shop.name %></h3>
          <%= image_tag "#{shop.shop_image}",id:"card_image" %>
        <div class="card-body">
          <p><%= shop.introduce %></p>
          <li>住所：<%= shop.address %></li>
          <li>TEL：<a href="tel:<%= shop.number %>"><%= shop.number %></a></li>
          <li>営業時間：<%= shop.time %></li>
          <li>定休日：<%= shop.rest %></li>
          <li>持ち帰り：<%= shop.takeout %></li>
        </div>
      </div>
      </a>
     </div>
     <% end %>
    </div>
  </div>

  <div class="topic_page">
    <%= paginate @shops %>
  </div>
</div>
