<div class="topic_center">
  <div class="shop_show">
        <h3><%= @shops_name.name %></h3>
        <hr>
        <div class="show_content">
          <%= image_tag "#{@shops_name.admin.admin_image}" ,id: "show_admin_image"%>
        <% if user_signed_in? %>
          <div id="follow_relationships_<%= @shops_name.admin.id %>">
            <object><%= render partial: "shops/follow_relationships", locals: { admin: @shops_name.admin } %></object>
          </div>
        <% elsif user_signed_in? == false && admin_signed_in? == false %>
        <div class="shop_follow" >
          <object><a type="button" data-toggle="modal" data-target=".exampleModalCenter" class="unfollow modal_content">フォローする</a></object>
        <%= render 'topics/modal' %>
        </div>
        <% else %>
        <% end %>
        <p>フォロワー <%= @follow_count %>人</p>
        <p id="shop_introduce"><%= @shops_name.introduce %></p>
        <hr>
        <p id="shop_post_count">投稿<%= @topics.count %>件</p>
        <hr>
        </div>
        <% if @topics.length > 0 %>
        <div class="container-fluid">
          <div class="row">
            <% @topics.each do |topic| %>
            <div class="col-4">
              <a href="/topics/<%= topic.id %>">
                <div class="card_topic">
                  <%= image_tag "#{topic.image}",id:"card_image" %>
                  <p class="topic_genre">
                    <% if topic.genre == "カフェ" %>
                      <span class="cafe"><%= topic.genre %></span>
                    <% elsif topic.genre == "ランチ" %>
                      <span class="lunch"><%= topic.genre %></span>
                      <% elsif topic.genre == "ディナー" %>
                      <span class="dinner"><%= topic.genre %></span>
                    <% elsif topic.genre == "パン" %>
                      <span class="bread"><%= topic.genre %></span>
                    <% elsif topic.genre == "居酒屋" %>
                      <span class="pub"><%= topic.genre %></span>
                    <% elsif topic.genre == "テイクアウト" %>
                      <span class="takeout"><%= topic.genre %></span>
                    <% elsif topic.genre == "クーポン" %>
                      <span class="coupon"><%= topic.genre %></span>
                    <% end %>
                  </p>
                </div>
              </a>
            </div>
            <% end %>
          </div>
        </div>

        <% else %>
          <br>
          <p align="center">投稿記事はまだありません。</p>
        <% end %>

  </div>
</div>
