<div class="topic_content">
  <% if request.path == ("/") %>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="7000">
        <%= image_tag 'greeting.jpg' , class: "greet"%>
      </div>
      <div class="carousel-item">
        <a href="/contacts/new">
        <%= image_tag 'recommendation.jpg' , class: "greet"%>
        </a>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <% end %>


  <div class="tab">
    <ul>
      <li class=<%= @tab %>><%= link_to "一覧", root_path %></li>
      <li class=<%= @tab_cafe %>><%= link_to "カフェ", topics_path(genre: "カフェ") %></li>
      <li class=<%= @tab_lunch %>><%= link_to "ランチ", topics_path(genre: "ランチ") %></li>
      <li class=<%= @tab_dinner %>><%= link_to "ディナー", topics_path(genre: "ディナー") %></li>
      <li class=<%= @tab_bread %>><%= link_to "パン", topics_path(genre: "パン") %></li>
      <li class=<%= @tab_pub %>><%= link_to "居酒屋", topics_path(genre: "居酒屋") %></li>
      <li class=<%= @tab_takeout %>><%= link_to "テイクアウト", topics_path(genre: "テイクアウト") %></li>
    </ul>
  </div>

  <% if @topics.length > 0 %>
  <div class="container-fluid">
    <div class="row">
      <% @topics.each do |topic| %>
      <div class="col-md-4">

        <div class="article_editing">
          <% if user_signed_in? && current_user.admin == true %>
            <%= link_to '削除', topic, method: :delete, data: { confirm: '本当に削除してもいいですか？' }, class: "btn btn-danger" %>
            <%= link_to '編集', edit_topic_path(topic), class: "btn btn-warning" %>
          <% end %>
        </div>

        <a href="/topics/<%= topic.id %>">
        <div class="card">
        <%= image_tag "#{topic.image}",id:"card_image" %>
        <p class="topic_genre">
          <% if topic.genre == "カフェ" %>
            <span class="cafe"><%= topic.genre %></span>
          <% elsif topic.genre == "ランチ" %>
            <span class="lunch"><%= topic.genre %></span>
            <% elsif topic.genre == "ディナー" %>
            <span class="dinner"><%= topic.genre %></span>
          <% elsif topic.genre == "パン" %>
            <span class="bread"><%= topic.genre %></span>
          <% elsif topic.genre == "居酒屋" %>
            <span class="pub"><%= topic.genre %></span>
          <% elsif topic.genre == "テイクアウト" %>
            <span class="takeout"><%= topic.genre %></span>
          <% elsif topic.genre == "クーポン" %>
            <span class="coupon"><%= topic.genre %></span>
          <% end %>
        </p>
        <div class="card-body">
          <a href="/shops/<%= topic.shop.id %>">
          <p class="shop_title"><%= topic.shop.name %></p>
          <%= image_tag "#{topic.shop.shop_image}",id:"shop_image" %>
          </a>
          <p class="topic_title"><%= topic.title.truncate(40) %></p>
          <!-- <p class="topic_shop_name"><i class="fas fa-store"> <%= topic.shop.name %></i></p> -->
          <p class="topic_address"><i class="fas fa-map-marker-alt"></i> <%= topic.shop.address %></p>
        </div>
          <p class="topic_day"><%= topic.created_at.to_s(:datetime_jp) %></p>
          <!-- <p class="topic_view"><%= topic.impressionist_count %> <%= topic.impressionist_count <= 1 ? "view" : "views" %></p> -->
          <% if user_signed_in? || admin_signed_in? %>
            <div id="likes_<%= topic.id %>" class="like_button" >
              <%= render partial: "topics/likes", locals: { topic: topic } %>
            </div>
          <% else %>
          <a type="button" data-toggle="modal" data-target=".exampleModalCenter" class="like_button" >♡</a>
          <%= render 'topics/modal' %>
        <% end %>
        </div>
        </a>
      </div>
      <% end %>
    </div>
  </div>

  <div class="paginate-container">
      <div class="page">
        <%= paginate @topics %>
      </div>
  </div>

  <% else %>
    <br>
    <p align="center">記事はまだありません。</p>
  <% end %>

</div>
