<div class="topic_content">
  <div class="row">
    <% @topics.each do |topic| %>
    <div class="col-lg-4 col-md-6">

      <div class="article_editing">
        <% if user_signed_in? && current_user.id == 1 %>
          <%= link_to '削除', topic, method: :delete, data: { confirm: '本当に削除してもいいですか？' }, class: "btn btn-danger" %>
          <%= link_to '編集', edit_topic_path(topic), class: "btn btn-warning" %>
        <% end %>
      </div>

      <a href="/topics/<%= topic.id %>">
      <div class="card">
      <%= image_tag "#{topic.image}",id:"card_image" %>
      <div class="card-body">
        <p class="topic_genre"><i class="fas fa-hashtag"> <%= topic.genre %></i></p>
        <p class="topic_title"><%= topic.title %></p>
        <p class="topic_shop_name"><i class="fas fa-store"> <%= topic.shop.name %></i></p>
        <p class="topic_address"><i class="fas fa-map-marker-alt"></i> <%= topic.shop.address %></p>
      </div>
        <p class="topic_day"><%= topic.created_at.to_s(:datetime_jp) %></p>
        <p class="topic_view"><%= topic.impressionist_count %> <%= topic.impressionist_count <= 1 ? "view" : "views" %></p>
      </div>


      <% if user_signed_in? %>
        <div id="likes_<%= topic.id %>" class="like_button" >
          <%= render partial: "topics/likes", locals: { topic: topic } %>
        </div>
      <% else %>
        <a type="button" data-toggle="modal" data-target="#exampleModalCenter" class="like_button" >♡</a>
        <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalCenterTitle">ようこそ、おのグルメへ！</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>いいねを利用するにはログインが必要です。</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                <%= link_to('ログイン', new_user_session_path, class:"btn btn-primary") %>
              </div>
            </div>
          </div>
        </div>
      <% end %>



      </a>
    </div>
    <% end %>
  </div>
</div>

<div class="paginate-container">
    <div class="mx-auto" style="width: 100px;">
      <%= paginate @topics %>
    </div>
</div>
