<div class="topic_center">
  <div class="post">
  <h2 class="text-center">トピック変更</h2>
  <%= form_with(model: @topic, local: true) do |form| %>
  <%= render 'layouts/error_messages', model: form.object %>

    <div class="field">
      <%= form.label "タイトル" ,class: "text-center"%> <span class="badge badge-warning">必須(50文字以下)</span>
      <br>
      <%= form.text_area :title, class: "form-control" %>

    </div>

    <div class="field">
      <%= form.label "ジャンル" %> <span class="badge badge-warning">必須</span>
      <br>
      <%= form.select :genre, [["カフェ", "カフェ"], ["ランチ", "ランチ"], ["ディナー", "ディナー"], ["パン", "パン"], ["居酒屋", "居酒屋"], ["テイクアウト", "テイクアウト"]], include_blank: "選択して下さい" %>
      <br>

    </div>

    <div class="field">
      <%= form.label "トップ画像" %> <span class="badge badge-warning">必須(横340px縦200pxで表示されます)</span>
      <br>
      <%= form.file_field :image %>
      <!-- <p>横：200px,縦：350pxで表示させるように設定しています。</p> -->


    </div>

    <div class="field">
      <%= form.label "内容" %> <span class="badge badge-warning">必須</span>
      <br>
      <%= form.rich_text_area :content %>

    </div>

    <% if admin_signed_in? %>
      <%= form.hidden_field :shop_id, :value => @user_shop %>
    <% else %>
    <div class="field">
      <%= form.label "店舗番号" %>
      <br>
      <%= form.number_field :shop_id %>
    </div>
    <% end %>



    <div class="actions">

      <%= form.submit "更新" , class: "btn btn-lg btn-primary btn-block"%>

    </div>





  <% end %>
  </div>
</div>
