<%# ヘッダー画像　%>
<%= render 'topics/header_image' %>

<div class="topic_center">
  <%= render partial: "layouts/flash" %>
  <%# トピック記事検索機能　%>
  <%= render "topics/search" %>


  <%# トピックのリンク %>
  <%# render 'topics/list' %>

  <%# トピックの記事一覧 %>
  <%= render 'topics/content' %>

  <%# トピックの依頼投稿 %>
  <%= render 'topics/bottom' %>
</div>
