<div class="topic_center">
  <div class="post">
  <h2 class="text-center">トピック新規投稿</h2>
  <%= form_with(model: @topic, local: true) do |form| %>
  <%= render 'layouts/error_messages', model: form.object %>

    <div class="field">
      <%= form.label "タイトル" ,class: "text-center"%>
      <br>
      <%= form.text_field :title, class: "form-control" %>
      <br>
    </div>

    <div class="field">
      <%= form.label "ジャンル" %>
      <br>
      <%= form.select :genre, [["カフェ", "カフェ"], ["ランチ", "ランチ"], ["ディナー", "ディナー"], ["パン", "パン"], ["居酒屋", "居酒屋"], ["テイクアウト", "テイクアウト"]], include_blank: "選択して下さい" %>
      <br>
      <br>
    </div>

    <div class="field">
      <%= form.label "トップ画像" %>
      <br>
      <%= form.file_field :image %>
      <p>横：200px,縦：350pxで表示させるように設定しています。</p>
      <br>
      <br>
    </div>

    <div class="field">
      <%= form.label "内容" %>
      <br>
      <%= form.rich_text_area :content %>
      <br>
    </div>

    <% if current_user.pro_id > 0 %>
      <div class="field">
        <%= form.hidden_field :shop_id, :value => @user_shop %>
        <br>
      </div>
    <% else %>
    <div class="field">
      <%= form.label "店舗番号" %>
      <br>
      <%= form.number_field :shop_id %>
      <br>
    </div>
    <% end %>



    <div class="actions">
      <br>
      <%= form.submit "投稿" , class: "btn btn-lg btn-primary btn-block"%>
      <br>
    </div>

    <% if current_user.id == 1 %>
      <br>
      <h4 style="text-align:center;">店舗番号一覧</h4>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">店舗番号</th>
            <th scope="col">店舗名</th>
          </tr>
        </thead>
        <tbody>
          <% @shops.each do |shop| %>
          <tr>
            <th scope="row"><%= shop.id %></th>
            <td><%= shop.name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>




  <% end %>
  </div>
</div>
