<div class="topic_center">
  <div class="topic_show">
    <p><%= @topic.created_at.to_s(:datetime_jp) %></p>
    <h2><%= @topic.title %></h2>
    <div class="show_image">
      <%= image_tag "#{@topic.image}",id:"top_image"%>
    </div>
    <p><%= markdown(@topic.content).html_safe %></p>
    <h2>お店情報</h2>
    <div class="row">
      <div class="col-md-6">
        <iframe src="<%= @topic.shop.map %>" <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3273.9637811979896!2d134.93509731566832!3d34.857137382330706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35552de92e9631f1%3A0x80fe880b602b0b19!2z5ZKM5rCRIOWwj-mHjuW6lw!5e0!3m2!1sja!2sjp!4v1595936972236!5m2!1sja!2sjp" width="600" height="560" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
      <div class="col-md-6">
        <ul>
          <%= image_tag "#{@topic.shop.shop_image}", id:"show_shop_image" %>
          <li>店名：<%= @topic.shop.name %></li>
          <li>一言：<%= @topic.shop.introduce %></li>
          <li>住所：<%= @topic.shop.address %></li>
          <li>アクセル：<%= @topic.shop.access %></li>
          <li>電話番号：<a href="tel:<%= @topic.shop.number %>"><%= @topic.shop.number %></a></li>
          <li>営業時間：<%= @topic.shop.time %></li>
          <li>定休日：<%= @topic.shop.rest %></li>
          <li>テイクアウト：<%= @topic.shop.takeout %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
