<div class="topic_center">
  <div class="shop_content">
  <% if @follow_lists.length > 0 %>
  <p align="center"><%= @follow_lists.length %>店フォローしています。</p>
  <div class="container-fluid">
    <div class="row">
      <% @follow_lists.each do |admin| %>
      <div class="col-md-4">
        <div class="article_editing">
          <% if user_signed_in? && current_user.id == 1 %>
            <%= link_to '削除', admin.shop, method: :delete, data: { confirm: '本当に削除してもいいですか？' }, class: "btn btn-danger" %>
            <%= link_to '編集', edit_shop_path(admin.shop), class: "btn btn-warning" %>
          <% end %>
        </div>

        <a href="/shops/<%= admin.shop.id %>">
        <div class="card">
          <div class="card_title">
            <%= image_tag "#{admin.admin_image}",id:"admin_image", align:"left" %>
            <h3><%= admin.shop.name %></h3>
          </div>
          <%= image_tag "#{admin.shop.shop_image}",id:"card_image" %>
        <div class="card-body">
          <div class="row">
              <ul>
                <li><span class="row1"><i class="fas fa-map-marker-alt"></i></span><span class="row2"><%= admin.shop.address %></span></li>
                <li><span class="row1"><i class="fas fa-phone-alt"></i></span><span class="row2"><%= admin.shop.number %></span></li>
                <li><span class="row1"><i class="fas fa-clock"></i></span><span class="row2"><%= admin.shop.time %></span></li>
                <li><span class="row1"><i class="fas fa-store-alt-slash"></i></span><span class="row2"><%= admin.shop.rest %></span></li>
                <li><span class="row1"><i class="fas fa-sign-out-alt"></i></span><span class="row2"><%= admin.shop.takeout %></span></li>
              </ul>
          </div>
        </div>
      </div>
      </a>
     </div>
     <% end %>
    </div>
  </div>
  <% else %>
    <p align="center">フォローしていません。</p>
  <% end %>
  </div>
</div>
