<div class="topic_center">
  <%= render partial: "layouts/flash" %>
  <% if user_signed_in? %>
    <div class="user_show">
      <h3><%= @user.username %></h3>
      <hr>
      <div class="show_content">
        <%= image_tag "#{@user.user_image}" ,id: "show_user_image"%>
        <p id="edit_user"><a href="/users/edit">アカウント編集</a></p>
        <a href="/follow_lists">
          <p>フォロー <%= @follow_count %>人</p>
        </a>
      </div>
    </div>
    <% elsif admin_signed_in? %>
    <div class="user_show">
      <h3><%= @admin.admin_name %></h3>
      <hr>
      <div class="show_content">
        <%= image_tag "#{@admin.admin_image}" ,id: "show_user_image"%>
        <p id="edit_user"><a href="/admins/edit">アカウント編集</a></p>
        <p>フォロワー <%= @follow_count %>人</p>
        <hr>
        <ul>
        <li>店名： <%= @shop.name %></li>
        <li>電話番号： <%= @shop.number %></li>
        <li>住所： <%= @shop.address %></li>
        <li>アクセス： <%= @shop.access %></li>
        <li>営業時間： <%= @shop.time %></li>
        <li>定休日： <%= @shop.rest %></li>
        <li>テイクアウト： <%= @shop.takeout %></li>
        <li>紹介文： <%= @shop.introduce %></li>
        </ul>
        <ul class="btn">
          <li><a href="/shops/<%= @shop.id %>/edit">編集</a></li>
          <li><a href="/topics/new">記事投稿</a></li>
        </ul>
        <br>
      </div>
    </div>

   <div class="pro_user">
     <br>
         <h4 style="text-align:center;">投稿記事一覧</h4>
         <table class="table table-bordered overflow" style="background: #fffde8;">
           <thead>
             <tr style="font-size: 12px;">
               <th scope="col">投稿日</th>
               <th scope="col">トップ画像</th>
               <th scope="col">タイトル</th>
               <th scope="col">ジャンル</th>
               <th scope="col">いいね</th>
               <th scope="col">閲覧数</th>
               <th scope="col">詳細</th>
               <th scope="col">編集</th>
               <th scope="col">削除</th>
             </tr>
           </thead>
           <tbody style="font-size: 12px;">
             <% @topic.each do |topic| %>
             <tr>
              <td><%= topic.created_at.to_s(:datetime_jp) %></td>
              <td><%= image_tag "#{topic.image}", class: "topic_manage", style: "width: 80px; height: 80px;"%></td>
              <td><%= topic.title %></td>
              <td><%= topic.genre %></td>
              <td><%= topic.liked_users.count %></td>
              <td><%= topic.impressionist_count %></td>
              <td><a href="/topics/<%= topic.id %>">詳細</a></td>
              <td>
                <%= link_to edit_topic_path(topic), class: "edit" do %>
                 <i class="fas fa-edit"></i>
                <% end %>
              </td>
              <td>
                <%= link_to topic, method: :delete, data: { confirm: '本当に削除してもいいですか？' }, class: "delete" do %>
                 <i class="fas fa-trash-alt"></i>
                <% end %>
              </td>
             </tr>
             <% end %>
           </tbody>
         </table>
   </div>

    <% else %>
      <p>ログインが必要です</p>
    <% end %>

</div>
