<div class="topic_center">
  <h2 class="text-center">店長情報登録</h2>
  <%= form_with(model: @manager, local: true) do |form| %>
  <%= render 'layouts/error_messages', model: form.object %>


    <div class="field">
      <%= form.label "名前" ,class: "text-center"%>
      <br>
      <%= form.text_field :manager_name, class: "form-control" %>
      <br>
    </div>

    <div class="field">
      <%= form.label "画像" ,class: "text-center"%>
      <br>
      <%= form.file_field :manager_image %>
      <br>
    </div>

    <div class="actions">
      <br>
      <%= form.submit "投稿" , class: "btn btn-lg btn-primary btn-block"%>
      <br>
    </div>

  <% end %>
</div>
