<div class="pro_user">
  <h1 class="text-center">USER PRO 管理画面</h1>
  <h5 class="text-center">ようこそ、<%= @user.email %>様</h5>
  <p class="text-center"><%= link_to "記事投稿",new_topic_path, class:"btn btn-info" %></p>

      <h4 style="text-align:center;">店舗情報</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">店舗名</th>
            <th scope="col">電話番号</th>
            <th scope="col">住所</th>
            <th scope="col">アクセス</th>
            <th scope="col">営業時間</th>
            <th scope="col">定休日</th>
            <th scope="col">テイクアウト</th>
            <th scope="col">マップ</th>
            <th scope="col">紹介文</th>
            <th scope="col">店舗画像</th>
            <th scope="col">編集</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <th scope="row"><%= @shop.id %></th>
              <td><%= @shop.name %></td>
              <td><%= @shop.number %></td>
              <td><%= @shop.address %></td>
              <td><%= @shop.access %></td>
              <td><%= @shop.time %></td>
              <td><%= @shop.rest %></td>
              <td><%= @shop.takeout %></td>
              <td><iframe src="<%= @shop.map %>" width="150" height="100" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></td>
              <td><%= @shop.introduce%></td>
              <td><%= image_tag "#{@shop.shop_image}",id:"pro_user_image" %></td>
              <td><%= link_to '編集', edit_shop_path(@shop), class: "btn btn-warning" %></td>
          </tr>
        </tbody>
      </table>

      <h4 style="text-align:center;">記事一覧</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">PV数</th>
            <th scope="col">UP日</th>
            <th scope="col">タイトル</th>
            <th scope="col">ジャンル</th>
            <th scope="col">トップ画像</th>
            <th scope="col">詳細</th>
            <th scope="col">編集</th>
            <th scope="col">削除</th>
          </tr>
        </thead>
        <tbody>
          <% @topic.each do |topic| %>
          <tr>
              <th scope="row"><%= topic.id %></th>
              <td><%= topic.impressionist_count %></td>
              <td><%= topic.created_at.to_s(:datetime_jp) %></td>
              <td><%= topic.title %></td>
              <td><%= topic.genre %></td>
              <td><%= image_tag "#{topic.image}",id:"pro_user_image" %></td>
              <td><a href="/topics/<%= topic.id %>">詳細</a></td>
              <td><%= link_to '編集', edit_topic_path(topic), class: "btn btn-warning" %></td>
              <td><%= link_to '削除', topic, method: :delete, data: { confirm: '本当に削除してもいいですか？' }, class: "btn btn-danger" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

</div>
