<div class="link_list">
  <h1>カフェ一覧</h1>
  <div class="topic_content">
    <div class="row">
      <% @cafes.each do |cafe| %>
      <div class="col-md-4">
        <a href="/homes/<%= cafe.id %>">
        <div class="card">
        <%= image_tag "#{cafe.image}",id:"card_image" %>
        <div class="card-body">
          <p class="topic_genre"><i class="fas fa-hashtag"> <%= cafe.genre %></i></p>
          <p class="topic_title"><%= cafe.title %></p>
          <p class="topic_shop_name"><i class="fas fa-store"> <%= cafe.shop.name %></i></p>
          <p class="topic_address"><i class="fas fa-map-marker-alt"></i> <%= cafe.shop.address %></p>
          <p class="topic_day"><%= cafe.created_at.to_s(:datetime_jp) %></p>
        </div>
        </div>
        <div id="likes_<%= cafe.id %>" class="like_button" >
          <%= render partial: "topics/likes", locals: { topic: cafe } %>
        </div>
        </a>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="topic_page">
  <%= paginate @cafes %>
</div>
