<div class="link_list">
  <h1>パン</h1>
  <div class="topic_content">
    <div class="row">
      <% @breads.each do |bread| %>
      <div class="col-md-4">
        <a href="/homes/<%= bread.id %>">
        <div class="card">
        <%= image_tag "#{bread.image}",id:"card_image" %>
        <div class="card-body">
          <p class="topic_genre"><i class="fas fa-hashtag"> <%= bread.genre %></i></p>
          <p class="topic_title"><%= bread.title %></p>
          <p class="topic_shop_name"><i class="fas fa-store"> <%= bread.shop.name %></i></p>
          <p class="topic_address"><i class="fas fa-map-marker-alt"></i> <%= bread.shop.address %></p>
          <p class="topic_day"><%= bread.created_at.to_s(:datetime_jp) %></p>
        </div>
        </div>
        </a>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="topic_page">
  <%= paginate @breads %>
</div>
