<div class="link_list">
  <h1>ランチ</h1>
  <div class="topic_content">
    <div class="row">
      <% @lunches.each do |lunch| %>
      <div class="col-md-4">
        <a href="/homes/<%= lunch.id %>">
        <div class="card">
        <%= image_tag "#{lunch.image}",id:"card_image" %>
        <div class="card-body">
          <p class="topic_genre"><i class="fas fa-hashtag"> <%= lunch.genre %></i></p>
          <p class="topic_title"><%= lunch.title %></p>
          <p class="topic_shop_name"><i class="fas fa-store"> <%= lunch.shop.name %></i></p>
          <p class="topic_address"><i class="fas fa-map-marker-alt"></i> <%= lunch.shop.address %></p>
          <p class="topic_day"><%= lunch.created_at.to_s(:datetime_jp) %></p>
        </div>
        </div>
        <div id="likes_<%= lunch.id %>" class="like_button" >
          <%= render partial: "topics/likes", locals: { topic: lunch } %>
        </div>
        </a>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="topic_page">
  <%= paginate @lunches %>
</div>
