<!DOCTYPE html>
<html>
  <head>
    <title>おのグルメ｜小野市のグルメに特化した町おこしサイト｜</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
  </head>

  <body >
  <header1>
    <%= render 'topics/header' %>
  </header1>
  <main>
    <%= yield %>
  </main>
  <footer>
    <%= render 'topics/footer' %>
  </footer>
</body>
</html>




<%# <div class="onetime_popup">
    <p class="onetime_popup_title">ようこそ、おのグルメへ</p>
    <div class="onetime_popup_content">
        <p>小野市のグルメを応援するサイト<br>
          小野市のグルメをもっと知って欲しいという思いから作ったおのグルメ<br>
          素晴らしい小野もっと広めましょう。
        </p>
    </div>
</div> %>
